@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  margin: 0;
  
  background-color: #0B0F1E ;
  background-image: url("/backgroundimg.pn");
  
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(135deg, #ffffff, #fbe66f);
  filter: blur(50px);
  z-index: -1;
  animation: moveBackground 5s infinite linear;
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20%, -20%);
  }
  100% {
    transform: translate(0, 0);
  }
} */

/* Custom toast styles */
.Toastify__toast {
  border-radius: 8px;
  font-weight: 500;
}

.Toastify__toast--success {
  background: #F56CA0 !important;
}

.Toastify__toast--error {
  background: #ff4b4b !important;
}

.Toastify__progress-bar {
  background: rgba(255, 255, 255, 0.7);
}
